<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.deep_linking_url">


    <queries>
        <package android:name="com.sonyliv" />
        <package android:name="com.tru" />
        <package android:name="com.tv.v18.viola" />
        <package android:name="com.graymatrix.did" />
        <package android:name="com.epicchannel.epicon"/>
    </queries>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Deep_Linking_Url">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW"> </action>-->
<!--                <category android:name="android.intent.category.DEFAULT"> </category>-->
<!--                <category android:name="android.intent.category.BROWSABLE"> </category>-->


<!--                <data android:scheme="https"> </data>-->
<!--            </intent-filter>-->
        </activity>
    </application>

</manifest>